.header {
  margin-top: 5%;
  /* background-color: #363c54; */
  /* box-shadow: 0 0 5px rgb(216, 216, 216); */
  color: #363c54;
  text-align: center;

  border-radius: 20px;
  margin: 60px;
}
select {
  background-color: white;
  justify-content: center;
}
div.form-check {
  margin: 16px 0;
}
.strength-style {
  width: 100%;
  display: flex;
}
.wrapper-swot-form {
  flex: 100%;
  margin: 60px;
}
select {
  background-color: white;
}
.wrapper-swot-form.strength {
  background-color: #363c54;
  box-shadow: 0 0 5px rgb(216, 216, 216);
  color: #f6f6f6;
}
.wrapper-swot-form.weakness {
  background-color: #363c54;
  box-shadow: 0 0 5px rgb(216, 216, 216);
}
.wrapper-swot-form.opportunity {
  background-color: #363c54;
  box-shadow: 0 0 5px rgb(216, 216, 216);
}
.wrapper-swot-form.threat {
  background-color: #363c54;
  box-shadow: 0 0 5px rgb(216, 216, 216);
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}
.form-label {
  width: 100%;
  margin-bottom: 24px;
}
.form-check-label {
  margin-left: 20px;
}

.option-checkbox {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.option-checkbox > p {
  margin-left: 16px;
}
.resultpage > p {
  font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
  .graph-swot {
    width: 100% !important;
  }

  .resultpage > p {
    font-size: 0.9em;
  }
  .wrapper-swot-form.strength {
    background-color: #363c54;
    box-shadow: 0 0 5px rgb(216, 216, 216);
    color: #f6f6f6;
    font-size: 0.7em;
    font-family: "light";
    margin: 5% !important;
    padding: 5% !important;
    text-align: left;
  }

  .wrapper-swot-form.weakness {
    background-color: #363c54;
    box-shadow: 0 0 5px rgb(216, 216, 216);
    color: #f6f6f6;
    font-size: 0.7em;
    font-family: "light";
    margin: 5% !important;
    padding: 5% !important;
    text-align: left;
  }
  .wrapper-swot-form.opportunity {
    background-color: #363c54;
    box-shadow: 0 0 5px rgb(216, 216, 216);
    color: #f6f6f6;
    font-size: 0.7em;
    font-family: "light";
    margin: 5% !important;
    padding: 5% !important;
    text-align: left;
  }

  .wrapper-swot-form.threat {
    background-color: #363c54;
    box-shadow: 0 0 5px rgb(216, 216, 216);
    color: #f6f6f6;
    font-size: 0.7em;
    font-family: "light";
    margin: 5% !important;
    padding: 5% !important;
    text-align: left;
  }

  h2 {
    font-size: 2em;
  }
  .div.col {
    padding: 0% !important;
  }
}

@media only screen and (min-width: 768px) {
  .graph-swot {
    width: 80% !important;
  }
}
@media only screen and (min-width: 1200px) {
  .graph-swot {
    width: 50% !important;
  }
}
