.navbar-container { background-color: #363C54; }
.menu-list-div { height: 100%; }

/* SET ICON TO CENTER */
.jk-icon { display: block; margin: 0 auto; }

.navbar-container ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #F3B06E;
    font-family: 'light';
}

.jk-icon-container {
    height: 100%;
    display:flex;
    align-items: center;
    padding: 12px;
}

.menu-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.menu-list {
    padding-left: 30px;
    margin: 12px 12px;
    color: #F3B06E;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
}

@media only screen and (min-width: 1000px) {
    .res-menu-list {
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    .menu-list {
        padding-left: 20px;
    }
}
@media only screen and (max-width: 1000px) {
    .menu-list {
        display: none;
    }
    .res-menu-list {
        height: 100%;
        padding: 0px 12px;
        display: flex;
        align-items: center;
        color: white;
        font-size: 14px;
        justify-content: flex-end;
    }

    .res-menu-list-icon-div {
        background: #F3B06E;
        width: 48px;
        height: 48px;
        border-radius: 10px;
        display: flex;
        color: #363C54;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .res-menu-list-icon {
        width: 18px;
        height: 18px;
    }
    .dropdown-div {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
}
@media only screen and (max-width: 768px) {
    .menu-col.col-8 {
        display: none;
    }
    .res-menu-col.col-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .logo-col.col-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .jk-icon { display: block; margin: 0;}
}

.res-menu-list-dropdown {
    opacity: 0;
    height: 0;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    /* width: 10px; */
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    border-radius: 5px;
    top: 100%;
    right: 0;
  }

.dropdown-div:hover .res-menu-list-dropdown { opacity: 1; height: auto; transition: 0.5s;}
.dropdown-div:hover .res-menu-list-dropdown a { display: block;}
.dropdown-div:hover .res-menu-list-btn { display: block;}
.res-menu-list-btn:hover { background-color: #F3B06E; transition: 0.5s;}

/* .res-menu-list:hover .res-menu-dropdown a { display: block; } */

.res-menu-list-dropdown > div.res-menu-list-btn {
    padding: 12px 18px; display: none;
}

.res-menu-list-dropdown > div.res-menu-list-btn.first {
    border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.res-menu-list-dropdown > div.res-menu-list-btn.last {
    border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
}

.res-menu-list-dropdown a {
    color: black;
    text-decoration: none;
    display: none;
    line-height: 200%;
    transition: 0.5s;
    padding: 4px 18px;
    font-family: 'regular';
    font-size: 16px;
  }
  .res-menu-list-btn {
      display: none;
  }
